<!DOCTYPE html>
<html>
{% block head %}
<head>
    <title>Social Nets loading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jsoneditor.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jsoneditor_.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.jsoneditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
{% endblock %}
<body>
{% block menu %}
<div class='menu'>
    <a href='/users'>Users</a>
    <a href='/messages'>Messages</a>
</div>
{% endblock %}
{% block content %}
<div class='form_wrapper'>
    <div class="search_params">
        <comment>Выберите по каким социальным сетям производить поиск:</comment>
        <br>
        <input type="checkbox" name="ttr" value="ttr" id='ttr' checked="true"> Twitter<br>
        <input type="checkbox" name="fb" value="fb" id='fb' checked="false" disabled> Facebook<br>
        <input type="checkbox" name="vk" value="vk" id='vk' checked="false" disabled> Vkontakte<br>
    </div>
    <form id="retrieve_user_form" action="/retrieve" method="post">
        <h4>Введите ник пользователя</h4>
        <input type="text" name="screen_name" id='retrieve_user_form_input'>
        <input type="submit" value="Поиск" id='retrieve_user_form_submit'>
    </form>

    <form id="search_data_form" action="/search" method="post">
        <h4>Введите ключевое слово</h4>
        <input type="text" name="query" id='search_form_input'>
        <input type="submit" value="Поиск" id='search_form_submit'>
    </form>
</div>

<div class='search_result_container' id='sr_container'>
</div>

{% endblock %}
</body>
</html>